:root {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Yrsa', serif;
  font-family: 'Overpass', sans-serif;

  --bg: #2b3339;
  --fg: #d3c6aa;
  --accent: #a7c080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  min-height: 100vh; 
  width: 100vw;
  display: grid;
  place-content: center;
  background-color: var(--bg);
  color: var(--fg);
}

::-moz-selection, ::selection {
  color: var(--bg);
  background: var(--fg);
}
